@import "./mixin";
@import "./variables";
@import "./reset";
#app {
    font-family: "Quicksand", sans-serif;
    //to make mobile nav not overlay content
    padding-bottom: 100px;
    overflow-x: hidden;
    @media (min-width: 768px) {
        padding-bottom: 0;
    }
    .app-content {
        min-height: 40vh;
    }
    background-color: white;
    &.app-dark {
        background: radial-gradient(circle at 24.1% 68.8%, rgb(50, 50, 50) 0%, rgb(0, 0, 0) 99.4%);
        color: white;
    }
}

.container {
    width: calc(100% - 80px);
    margin: 15px auto;
    @media (min-width: 768px) {
        width: 90%;
    }
    @media (min-width: 992px) {
        width: 80%;
    }
    @media (min-width: 1200px) {
        width: 70%;
    }
    @media (min-width: 1400px) {
        width: 65%;
        max-width: 1200px;
    }
}

.bold {
    font-weight: bold;
}

.flex {
    display: flex;
}

.multiselect {
    input {
        border: none !important;
    }
}

.multiselect__option {
    &--highlight {
        background-color: $secondary-blue !important;
    }
}

.v3dp__input_wrapper {
    input {
        border: 1px solid $primary-blue !important;
        padding: 10px !important;
        border-radius: 5px;
    }
}

.error-box {
    background: rgb(255, 215, 215);
    padding: 4px;
    border-radius: 4px;
    border: 1px solid rgb(255, 198, 198);
    margin: 2px 0;
    display: block;
    font-size: 0.9rem;
    padding: 10px;
    margin: 6px 0;
}

.validation__btn-0 {
    display: none;
}
